*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select, dialog, form, label {
    font: inherit;
    color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

#root, #__next {
    isolation: isolate;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

*:not(i) {
    font-family: quicksand;
}
/***********VARIABLES**************/
:root {
    --header-size: 100px;
    --sidebar-size: 225px;
    --header-font-size: clamp(0.8rem, 0.8rem + 0.75vw, 25px);

    --header-size-small: calc(var(--header-size) / 1.5);
    

    --clr-cards: #172a46;
    --clr-aside: #172a46;
    --clr-content: #0a192f;
    --clr-success: #4CAF50;
    --clr-success-hover: #81C784;
    --clr-failure: #F44336;
    --clr-failure-hover: #E57373;
    --clr-card-text: white;
    --clr-text: #a4b0cf;
    --clr-action-btn: #172a46;
}
/*************************/
body {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: var(--header-size) 1fr;
    grid-template-columns: var(--sidebar-size) 1fr;
    color: var(--clr-text);
}

header {
    grid-area: 1 / 2 / 2 / 3;
}


aside {
    grid-area: 1 / 1 / -1 / 2;
}

#content {
    grid-area: 2 / 2 / -1 / -1;
    background-color: var(--clr-content);
    --gap-local: calc(var(--gap) / 2);
}

header, aside {
    position: sticky;
    top: 0;
    left: 0;
}

.smallscreen-header { 
    display: none;
}

#dropdownBtn {
    display: none;
}
/**************HEADER***************/

header {
    z-index: 5;
    background-color: var(--clr-action-btn);
    box-shadow: 0px 0px 16px 16px rgba(0,0,0,0.4);
}

nav {
    height: 100%;
    --border: 1px solid black;
}

.header-buttons-container {
    display: flex;
    height: 100%;
}

nav li:not(:has(i)) {
    flex: 1;
    border-right: var(--border);

    &:first-child {
        border-left: var(--border);
    }
}

.action-button {
    height: 100%;
    width: 100%;
    font-size: var(--header-font-size);
    font-weight: 900;
    background-color: var(--clr-cards);
}

.action-button:hover {
    background-color: var(--clr-text);
    color: var(--clr-action-btn);
}
/**************SIDEBAR***************/
aside {
    z-index: 6;
    height: 100dvh;
    background-color: var(--clr-aside);
    align-self: start;
    display: grid;
    grid-template-rows: var(--header-size) 1fr;
    padding-left: 1.2em;
    box-shadow: 0px 0px 16px 16px rgba(0,0,0,0.4);
    gap: 1em;
}

aside h1 {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
}

.sidebar-buttons-container {
    display: flex;
    flex-direction: column;
}

.sidebar-button {
    /* width: fit-content; */
    height: 3em;
    font-size: 1.2em;
    transition: transform 0.075s ease-in-out, filter 0.075s ease-in-out;
}

.sidebar-button:hover, .sidebar-button.active {
    transform: translate(10%, -5%) scale(1.1);
    cursor: pointer;
}

.sidebar-button:hover {
    filter: drop-shadow(0 0 10px white);
}

/**************CONTENT:CARDS***************/

#content { 
    --gap: 6rem;
    --shadow: 0px 0px 32px 16px rgba(0,0,0,0.4);
 }

.card.tasks::before { background-color: var(--clr-text); }
.card.missions::before { background-color: var(--clr-success); }
.card.offenses::before { background-color: var(--clr-failure); }

.card.tasks:hover { border: 2px solid var(--clr-text); }
.card.missions:hover { border: 2px solid var(--clr-success); }
.card.offenses:hover { border: 2px solid var(--clr-failure); }

/* Cards */

#content:has(.card) {
    z-index: 1;
    display: grid;
    padding: var(--gap);
    gap: var(--gap);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: max-content;
}

.card {
    --border-radius: 16px;
    --anim-time: 0.2s;
    font-size: 90%;

    position: relative;
    background-color: var(--clr-cards);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    gap: 1em;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    box-shadow: var(--shadow);
    transition: box-shadow var(--anim-time) ease-in-out, border var(--anim-time) ease-in-out;
}

.card:hover {
    box-shadow: 0px 0px 32px 28px rgba(0,0,0,0.4);
    &::before { left: 0; }
}

.card::before {
    position: absolute;
    content: '';
    z-index: -1;
    top: 0%;
    left: -1.5%;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    transition: transform var(--anim-time) ease-in-out;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p { font-weight: 900;}

    & h1 {
        font-size: clamp(1.5rem, 1.3rem + 0.75vw, 3rem);
        word-break: break-all;
    }
}

.card > p {
    font-size: 1.1em;
}

.card-buttons-container {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 2em;
    gap: 1em;
    width: 100%;
    min-height: 2.5em;
}

.card-button {
    width: max(100px, 35%);
    text-align: center;
    border-radius: 16px;
    font-weight: 900;
    font-size: clamp(0.8em, 0.8em + 0.2vw, 1.5em);
    padding: 0.7em 0;
    color: var(--clr-card-text);
}

.complete-mission-button, .complete-offense-button {
    width: 50%;
    align-self: center;
}

.success {
    background-color: var(--clr-success);
}

.success:hover {
    background-color: var(--clr-success-hover);
}

.failure {
    background-color: var(--clr-failure);
}

.failure:hover {
    background-color: var(--clr-failure-hover);
}

.corner-buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
}

.corner-button {
    height: 28px;
    cursor: pointer;
    filter: invert(83%) sepia(7%) saturate(1021%) hue-rotate(187deg) brightness(84%) contrast(91%);
    transition: transform 0.15s ease-in-out, filter 0.15s ease-in-out;

}

.corner-button:hover {
    transform: scale(1.2);
    filter: invert(83%) sepia(7%) saturate(1021%) hue-rotate(187deg) brightness(84%) contrast(91%) drop-shadow(0 0 10px white);
}

/*******CONTENT:STATS************/
#content:has(.stats-embed) {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 600px;
}

#statsTitle {
    position: relative;
    width: 100%;
    margin-bottom: calc(var(--gap-local) / 2);
    font-size: clamp(1rem, 1.3rem + 0.5vw, 2rem);
}

.stats-embed {
    background-color: var(--clr-cards);
    min-height: 60%;
    width: max(420px, 70%);
    border-radius: 16px;
    padding: var(--gap-local);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
}

#stats {
    flex: 1;
    box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.2);
    background-color: var(--clr-content);
    border-radius: 16px;
    padding: 2em;
}

td {
    padding: 1em;
    font-weight: 900;
    font-size: clamp(0.7rem, 0.7rem + 0.55vw, 1.7rem);
}

td:first-child::before {
    content: "\0025CB\000020";
}

/*******CONTENT:SPEND************/

#content:has(.spend-embed) {
    display: grid;
    place-items: center;
}

.spend-embed {
    background-color: var(--clr-cards);
    border-radius: 16px;
    padding: var(--gap-local);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.spend-embed * {
    width: 100%;
}

.points-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.points-container {
    margin: 0 auto;
}

#spendFormBtn {
    margin-top: 2em;
}

/************FORM****************/
dialog {
    --gap: 1.5rem;

    place-self: center;
    background-color: var(--clr-cards);
    border-radius: 10px;
    padding: var(--gap);

    border: none;
    transform: scale(0);
    visibility: hidden;
    transition: transform 0.3s ease-in-out, visibility 0s 0.3s;

    & > h1 { /* Modal header */
        display: grid;
        place-self: center;
        margin-bottom: var(--gap);
    }

    &.show {
        transform: scale(1);
        visibility: visible;
        transition: transform 0.3s ease-in-out, visibility 0s 0s;
        border: 1px solid var(--clr-text);

    }
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    font-size: 1em;
}

.name, .desc {
    display: flex;
    flex-direction: column;
}

input {
    outline: none;
    border: none;
    border-radius: 16px;
    background-color: var(--clr-content);
    padding: 0.3em 1em;
    font-size: 1em;
}

.points-general {
    display: flex;
    flex-direction: row;
    gap: 1em;

    & * { /* Reward and Penalty divs */
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

.form-buttons {
    display: flex;
    gap: 1em;

    & button {
        flex: 1;
        border-radius: 16px;
        background-color: var(--clr-content);
        padding: 0.3em 0;

        &:hover {
            background-color: var(--clr-text);
            color: var(--clr-content);
        }
    }
}

input:valid {
    border: 1.5px solid var(--clr-card-text);
}

input:invalid {
    border: 1.5px solid red;
}

::backdrop {
    background-color: rgba(0,0,0,0.6);
}
/************FEEDBACK STRIP****************/

.feedback-container {
    z-index: 900;
    position: fixed;
    right: 0;
    bottom: 10%;
    min-width: 300px;
    color: white;
    text-align: center;
    font-weight: 900;
    box-shadow: 0 0 16px 16px rgba(0,0,0,0.4);
    transform: translateX(150%);
}

.feedback {
    background-color: green;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    padding: 0.75em 1.25em;
    transition: background-color 0.3s ease-in, transform 0.3s ease-in;

}

.feedback.visible {
    transform: translateX(-150%);
    transition: background-color 0.45s ease-out, transform 0.45s ease-out;
}

.feedback.fail {
    background-color: red;
}
/**************MEDIA QUERIES******************/

@media (max-width: 830px) {
    aside {
        display: none;
        position: absolute;
        top: var(--header-size-small);
        left: 0;
        width: 100%;
        height: auto;
        background-color: var(--clr-aside);
        z-index: 1000;
        padding: 1em;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        grid-template-rows: unset;
        justify-content: center;
    }

    aside.active {
        display: grid;
    }

    #asideTitle {
        display: none;
    }

    .sidebar-buttons-container {
        gap: 0.5em;
        padding: 0;
    }

    .sidebar-button {
        height: auto;
        padding: 1em;
        font-size: 1rem;
        transform: none !important;
        margin: 0;
        text-align: left;
        border-radius: 4px;
    }

    .sidebar-button i {
        margin-right: 0.8em;
    }

    header {
        position: relative;
        z-index: 1001;
    }

    body {
        grid-template-columns: 0fr;
        grid-template-rows: var(--header-size-small) 1fr;
    }

    /***************HEADER***************/
    #dropdownBtn {
        display: list-item;
        border-right: var(--border);
        align-self: center;
        padding: 1em;
        
    }

    #statsTitle {
        display: none;
    }
    
    
    /****************STATS********************/
    #content:has(.stats-embed) {
        padding: 0;
        min-width: 0;
    }

    .stats-embed {
        width: 100%;
        min-height: 90%;
        margin: 0 2em;
    }

    #stats {
        padding: 1em;
    }

    td {
        font-size: clamp(1rem, 0.6rem + 0.2vw, 1.2rem);
    }
}

@media (max-width: 600px) {
    #content {
        --gap: 3rem; 
    }
}

@media (max-width: 400px) {
    #content:has(.card) {
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        --gap: 1.75rem;
       
    }

    td { 
        font-size: 0.85rem;
        padding: 0.6em;
     }
}

    